* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

main {
  max-width: 1920px;
  margin: auto;
}
#navbar_section {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar_body {
  max-width: 1350px;
  margin: auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  gap: 62px;
}
.logo_container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo_container img {
  width: 86.041px;
  height: 40px;
}
.logo_container p {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.logo_container p span {
  color: #ff42a5;
}
.navigation_menu {
  display: flex;
  gap: 32px;
  align-items: center;
}
.navigation_menu p {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.navigation_menu button {
  color: #3c354f;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  border: 0;
}
/* Banner section */
.banner_section {
  background: #fff;
}
.banner_body {
  max-width: 1350px;
  margin: auto;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 0px;
}
.banner_section .left_side {
  height: 100%;
  display: flex;
  align-items: center;
}
.banner_body .left_side .heading {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner_body .left_side .sub_heading {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner_body .left_side .icon_text_container {
  display: grid;
  gap: 17px;
  margin-top: 24px;
}
.banner_body .left_side .icon_text {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.banner_body .left_side .icon_text p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.banner_body .left_side .banner_btns {
  margin-top: 41px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.banner_body .left_side .banner_btns .sing_in_btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner_body .left_side .banner_btns .go_rogue_btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner_body .right_side img {
  width: 100%;
}
/*funny videos start */
.funny_videos_section {
  background: #fff;
  padding: 120px;
}
.funny_videos_body {
  max-width: 1350px;
  margin: auto;
  padding: 0px 20px;
}
.funny_videos_section .funny_videos_body h1 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.funny_videos_section .funny_videos_body h1 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.funny_videos_section .funny_videos_body .sub_heading {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 16px 0px 48px 0px;
}
.funny_videos_section .funny_videos_body .video_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
}
.funny_videos_section
  .funny_videos_body
  .video_container
  .video
  .img_container {
  width: 100%;
  position: relative;
}
.funny_videos_section .funny_videos_body .video_container .video .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  z-index: 12;
  display: none;
}
.funny_videos_section .funny_videos_body .video_container .video {
  cursor: pointer;
}
.funny_videos_section
  .funny_videos_body
  .video_container
  .video
  .background_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
  width: 100%;
  height: 99%;
  background-color: #00000070;
  z-index: 10;
  display: none;
}
.funny_videos_section .funny_videos_body .video_container .video:hover .overlay,
.funny_videos_section
  .funny_videos_body
  .video_container
  .video:hover
  .background_overlay {
  display: flex;
}
.funny_videos_section .funny_videos_body .video_container .video .overlay img {
  width: 48px;
  height: 48px;
}
.funny_videos_section .funny_videos_body .video_container .video .overlay span {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.funny_videos_section .funny_videos_body .video_container .video img {
  width: 100%;
}
.funny_videos_section .funny_videos_body .video_container .video p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 24px;
}

/*funny videos end */
/*Play Instantly Section Start */

.play_instantly_section {
  background: #fff;
  padding-bottom: 150px;
}
.play_instantly_body {
  max-width: 1350px;
  margin: auto;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 250px;
}
.play_instantly_heading{ 
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
}
.play_instantly_heading h1 {
  text-align: right;
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.play_instantly_heading span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play_instantly_heading p {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}
.play_instantly_img {
  width: 100%;
  position: relative;
}
.play_instantly_img .play_instantly_bg_img {
  width: 100%;
}

.play_instantly_img .absolute_image {
  position: absolute;
  bottom: -100px;

  left: -159px;
}
/* Play Instantly Section  End */
/* Games Section  Start */
.games_section {
  background: #FFF9FC;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
}
.games_body {
  max-width: 1350px;
  margin: auto;
  margin-bottom: 50px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
}
.games_body button:nth-child(6),
.games_body button:nth-child(7),
.games_body button:nth-child(8),
.games_body button:nth-child(9) {
  position: relative;
  right: -55%;
}
.games_body .all_games {
  color: #0b0223;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 1px solid #ffffff;
}
.games_body .all_games:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
}

.games_body .all_games img {
  width: 50px;
  height: 50px;
}
/* Games Section  End */

/* Footer section start */
.footer_section {
  background: #0b0223;
  padding-bottom: 130px;
}
.footer_body {
  max-width: 1350px;
  margin: auto;
  padding: 0px 20px;
  color: #fff;
}
.footer_logo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.footer_section .footer_body .footer_logo span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  font-weight: 700;
}
.footer_section .footer_body .footer_logo p {
  font-size: 45px;
  font-weight: 700;
}
.footer_section .footer_body .footer_menu {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding-top: 66px;
  font-size: 18px;
  font-weight: 600;
}
.footer_section .footer_body .social_media {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding-top: 66px;
}
.footer_section .footer_body .social_media img {
  width: 40px;
  height: 40px;
}
.footer_section .footer_body .footer_links {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding-top: 74px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.footer_section .footer_body .footer_copyright {
  text-align: center;
  padding-top: 28px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
/* Footer section end */

/* Mobile responsive */
@media screen and (max-width: 767px) {
  .navbar_body {
    flex-direction: column;
    align-items: center;
  }
  .navigation_menu {
    flex-direction: column;
  }
  .banner_body {
    grid-template-columns: 1fr;
    row-gap: 100px;
  }
  .banner_body .left_side {
    background-image: url("../images/Group14.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 131px 5%;
    order: 2;
  }
  .banner_body .left_side .left_side_child {
    width: fit-content;
    margin: auto;
  }
  .banner_body .left_side .heading {
    font-size: 28px;
  }
  .banner_body .left_side .sub_heading {
    font-size: 60px;
  }
  .funny_videos_section .funny_videos_body .video_container {
    grid-template-columns: 1fr;
    row-gap: 74px;
  }
  .funny_videos_section {
    background: #fff;
    padding: 120px 20px;
  }
  .funny_videos_section .funny_videos_body h1 {
    font-size: 38px;
  }
  .funny_videos_section .funny_videos_body .video_container .video p {
    text-align: center;
  }
  .play_instantly_body {
    grid-template-columns: 1fr;
    gap: 75px;
  }
  .play_instantly_heading{
    align-items: center;
  }
  .play_instantly_heading h1 {
    text-align: center;
  }
  .play_instantly_heading p {
    text-align: center;
  }
  .play_instantly_img {
    width: 70%;
    margin: auto;
  }
  .play_instantly_img .absolute_image {
    width: 60%;
    bottom: -70px;
    left: -59px;
  }
  .games_body {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer_section .footer_body .footer_menu {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    row-gap: 35px;
  }
  .footer_section .footer_body .social_media {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    row-gap: 35px;
  }
  .footer_section .footer_body .footer_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 30px;
    place-items: center;
  }
  .footer_section .footer_body .footer_copyright {
    padding-top: 60px;
  }
  .games_body {
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    place-items: center;
  }
  .games_body .all_games {
    font-size: 10px;
  }
  .games_body .all_games img {
    width: 20px;
    height: 20px;
  }
  .games_body button:nth-child(6),
  .games_body button:nth-child(7),
  .games_body button:nth-child(8),
  .games_body button:nth-child(9) {
    position: relative;
    right: 0%;
  }
}

/* Tablet responsive */

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar_body {
    flex-direction: column;
    align-items: center;
  }
  .banner_body {
    grid-template-columns: 1fr;
    row-gap: 100px;
  }
  .banner_body .left_side {
    background-image: url("../images/Group14.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 131px 5%;
    order: 2;
  }
  .banner_body .left_side .left_side_child {
    width: fit-content;
    margin: auto;
  }
  .banner_body .left_side .heading {
    font-size: 28px;
  }
  .banner_body .left_side .sub_heading {
    font-size: 60px;
  }
  .funny_videos_section .funny_videos_body .video_container {
    grid-template-columns: 1fr 1fr;
    row-gap: 74px;
    column-gap: 30px;
  }
  .play_instantly_body {
    grid-template-columns: 1fr;
    gap: 75px;
  }
  .play_instantly_heading{
    align-items: center;
  }
  .play_instantly_heading h1 {
    text-align: center;
  }
  .play_instantly_heading p {
    text-align: center;
  }
  .play_instantly_img {
    width: 70%;
    margin: auto;
  }
  .play_instantly_img .absolute_image {
    width: 60%;
    bottom: -70px;
    left: -59px;
  }

  .footer_section .footer_body .footer_menu {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    row-gap: 35px;
  }
  .footer_section .footer_body .footer_menu p:nth-child(5) {
    grid-column: 1 / 3;
  }
  .footer_section .footer_body .footer_menu p:nth-child(6) {
    grid-column: 3/5;
  }
  .games_body {
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    place-items: center;
  }
  .games_body button:nth-child(6),
  .games_body button:nth-child(7),
  .games_body button:nth-child(8),
  .games_body button:nth-child(9) {
    position: relative;
    right: 0%;
  }
}

/* pc responsive */
@media screen and (min-width: 992px) {
  .banner_section {
    background: #fff;
    background-image: url("../images/Group14.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}
